{% extends "base.html" %}

{% block headline %}
	{% if create %}
		Create category
	{% elif edit %}
		Edit category {{category.Path}}
    {% else %}
        Category {{category.Path}}
	{% endif %}
{% endblock %}

{% block content %}

<form method=POST action="./save">

<input type="hidden" name="mode" value="{{'create' if create else 'edit'}}"/>

<table class="form">
	<tr>
		<th>Path</th>
		<td>
			{% if create %}
				<input type="text" name="rpath"/> <span style="color:#AAA">enter "." and leave parent blank for top category</span>
			{% else %}
				<input type="hidden" name="path" value="{{category.Path}}"/>
				{{category.Path}}
			{% endif %}
		</td>
	</tr>
    {% if create %}
    	<tr>
    		<th>Parent category</th>
    		<td>
    				<select name="parent_path">
                        {% if admin %}
                            <option value="">(top)</option>
                        {% endif %}
                        {% for c in parent_categories %}
                            <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
    		</td>
    	</tr>
    {% endif %}
	<tr>
		<th>Description</th>
		<td>
			{% if create %}
				<input type="text" name="description" size=80/>
			{% elif edit %}
				<input type="text" name="description"  size=80 value="{{category.Description or ''}}"/>
            {% else %}
                {{category.Description or ''}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Creator</th>
		<td>
			{% if create %}
				{{creator}}
            {% else %}
                {{category.Creator or ''}}
			{% endif %}
		</td>
	</tr>
    {% if not create %}
    	<tr>
    		<th>Created timestamp</th>
    		<td>{{category.CreatedTimestamp}}
    		</td>
    	</tr>
    {% endif %}
    <tr>
        <th>Restricted</th>
        <td>
            {% if edit or create %}
                <input type="checkbox" name="restricted" {% if category and category.Restricted %} checked="checked" {% endif %}/>
            {% else %}
                {{'yes' if category.Restricted else 'no'}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Owner</th>
        <td>
            {% if edit or create %}
                <select name="owner">
                    <option value="user:{{user.Username}}">{{user.Username}}</option>
                    {% for u in users %}
                        {% if u != user.Username %}
                            <option value="user:{{u}}" {%- if not create and u == category.OwnerUser %} selected="selected"{% endif %}>{{u}}</option>
                        {% endif %}
                    {% endfor %}
                    {% if roles %}
                        <option value="" disabled>-- roles --</option>
                        {% for r in roles %}
                            <option value="role:{{r}}" {%- if not create and r == category.OwnerRole %} selected="selected"{% endif %}>{{r}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            {% else %}
                {{ category.OwnerUser or ""}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Parameter definitions</th>
        <td>
            <table>
                {% set inx = 0 %}
                <tr>
                    <th>Parameter name</th>
                    <th>Type</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Values</th>
                    <th>Pattern</th>
                    <td>{% if edit %}delete{% endif %}</td>
                </tr>
                {% if edit %}
                    {% for name, definition in category.Definitions.items() %}
                        <tr>
                            <td><input type="hidden" name="param:1_{{loop.index}}:name" value="{{name}}">{{name}}</td>
                            <td><select name="param:1_{{loop.index}}:type">
                                {% for t in types %}
                                    <option value="{{t}}" {% if definition["type"] == t %}selected="selected"{% endif %}>{{t}}</option>
                                {% endfor %}
                            </td>
                            <td><input type="text" name="param:1_{{loop.index}}:min" value="{{definition['min'] or ''}}"/></td>
                            <td><input type="text" name="param:1_{{loop.index}}:max" value="{{definition['max'] or ''}}"/></td>
                            <td><input type="text" name="param:1_{{loop.index}}:values" 
                                {% if "values" in definition and definition['values'] %}
                                    value="{{definition['values']|join(',')}}"
                                {% endif %}/></td>
                            <td><input type="text" name="param:1_{{loop.index}}:pattern" value="{{definition['pattern'] or ''}}"/></td>
                            <td>{% if edit %}<input type="checkbox" name="param:1_{{loop.index}}:remove">{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
                {% if edit or create %}
                    {% for i in range(5) %}

                        <tr>
                            <td><input type="text" name="param:2_{{loop.index}}:name"/></td>
                            <td><select name="param:2_{{loop.index}}:type">
                                {% for t in types %}
                                    <option value="{{t}}">{{t}}</option>
                                {% endfor %}
                            </td>
                            <td><input type="text" name="param:2_{{loop.index}}:min"/></td>
                            <td><input type="text" name="param:2_{{loop.index}}:max"/></td>
                            <td><input type="text" name="param:2_{{loop.index}}:values"/></td>
                            <td><input type="text" name="param:2_{{loop.index}}:pattern"/></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for name, definition in category.Definitions.items() %}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{definition["type"]}}</td>
                            <td>{{definition["min"] or ""}}</td>
                            <td>{{definition["max"] or ""}}</td>
                            <td>{{definition["values"]|join(',') or ""}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </td>
    </tr>                      
	{% if edit or create %}
        <tr><td></td><td><input type="submit" value="{{'Save' if edit else 'Create'}}"/></td>
	    </tr>
    {% endif %}
</table>

</form>


{% endblock %}
	
