{% extends "base.html" %}

{% block headline %}Namespaces{% endblock %}

{% block content %}

{% if logged_in %}
    <p><a href="./create_namespace">create</a>&nbsp;&nbsp;&nbsp;
        {%- if showing_all -%}
            <a href="./namespaces?all=no">my namespaces</a></p>
        {%- else -%}
            <a href="./namespaces?all=yes">all namespaces</a></p>
        {%- endif -%}
    </p>
{% endif %}

<script type="text/javascript">
    var request_queue = new RequestQueue(5);
    window.onbeforeunload = function() {
        request_queue.cancel();
    }
</script>


<table class="data">
	<tr>
		<th>Name</th>
		<th>Owner</th>
        <th>Files<sup>*</sup></th>
        <th>Datasets</th>
        <th>Queries</th>
        <th>Description</th>
	</tr>
	{% for ns in namespaces %}
		<tr>
				<td><a href="./namespace?name={{ns.Name}}">{{ns.Name}}</a></td>
				<td>{% if ns.OwnerUser %}
                        <a href="./user?username={{ns.OwnerUser}}">{{ns.OwnerUser}}</a>
                    {% else %}
                        <a href="./role?name={{ns.OwnerRole}}">{{ns.OwnerRole}}</a>
                    {% endif %}
                </td>
				<td id="file_count:{{ns.Name}}">{{ns.FileCount}}</td>
				<td id="dataset_count:{{ns.Name}}">{{ns.dataset_count()}}</td>
				<td id="query_count:{{ns.Name}}">{{ns.query_count()}}</td>
                <td>{{ns.Description or ""}}</td>
	    </tr>
            {# disable
                <script>
		        var out = document.getElementById("file_count:{{ns.Name}}");
		        out.data_received = function(data, param) { this.innerHTML = "" + data.nfiles; };
                request_queue.push("{{GLOBAL_AppTopPath}}/data/namespace_counts?name={{ns.Name}}", 
			        out, null, "json");
            </script>
            #}
	{% endfor %}
</table>

<p style="color:gray">* - may not be accurate, updated periodically</p>


{% endblock %}
