{% extends "base.html" %}

{% block html_head %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/color-brewer.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
{% endblock %}

{% block headline %}Metadata Query{% endblock %}

{% block content %}


<script type="text/javascript">
    function copy_query_url()
    {
        const query_text = document.getElementById("query_text").value;
        const encoded = encodeURI(query_text);
        var url = document.URL;
        const search_part = (new URL(url)).search;
        if( search_part != "" )
            url = url.substring(0, url.indexOf(search_part));
        url = url + "?query=" + encoded;
        
        
        
        navigator.clipboard.writeText(url);
        var copied_message_display = document.getElementById("copied_message_display")
        copied_message_display.innerHTML = "copied to clipboard";
        setTimeout(function(){
            copied_message_display.innerHTML = "";
        }, 3000);
    }
</script>
    
<form method="GET" action="">
    <table class="form">
        <tr><td colspan=3>&nbsp;</td></tr>
        <tr>
            <th>Default namespace:</th><td><input type="text" name="default_namespace"
                    value="{{namespace or 'test'}}"/></td>
            <td></td>
        </tr>
        <tr>
            <th>Include retired files:</th><td><input type="checkbox" name="include_retired_files"
                    {% if include_retired_files %}checked="checked"{% endif %}/></td>
            <td></td>
        </tr>
        <tr>
            <th>Query:</th>
            <td>
                <textarea class="query_text" name="query" cols=80 rows=10 id="query_text">{{query}}</textarea>
            </td>
            <td><p style="width:100%; text-align:right">
					<!-- <a href="https://metadatadb.readthedocs.io/en/latest/query_language.html" target="_new">MQL documentation</a> -->
					<a href="https://metacat.readthedocs.io/en/latest/mql.html" target="_new">MQL documentation</a>
				</p>
            </td>

        </tr>
        <tr>
            <td></td>
            <td><img src="{{GLOBAL_AppTopPath}}/static/images/copy.png" class="copy_button" onclick="copy_query_url()"/>&nbsp;<a href="javascript:copy_query_url()">copy query URL</a>&nbsp;&nbsp;&nbsp;<span
                    style="color:gray"
                    id="copied_message_display">
                    </span>
            </td>
        </tr>
        {#
        {% if allow_save_query %}
		    <tr>
			    <th>Save query as:</th><td>Namespace:&nbsp;<select name="save_namespace">
                    {%- for ns in namespaces %}
                        <option value="{{ns.Name}}" {{'selected="selected"' if ns.Name == namespace }}>{{ns.Name}}</option>
                    {% endfor -%}
                    </select>&nbsp;&nbsp;
                {{- '' -}}
                Name:&nbsp<input type="text" name="save_name"/>&nbsp;&nbsp
                {{- '' -}}
                <input type="submit" name="action" value="save"/></td>
                <td></td>
		    </tr>
        {% endif %}
        #}
        <tr><td colspan=3>&nbsp;</td></tr>
        <tr>
            <th>Show metadata as:</th>
            <td><select name="view_meta_as">
                            <option value="" {{'selected="selected"' if view_meta_as== ""}}>do not show</option>
                            <option value="json" {{'selected="selected"' if view_meta_as== "json"}}>JSON</option>
                            <option value="table" {{'selected="selected"' if view_meta_as== "table"}}>Table</option>
                            <option value="pprint" {{'selected="selected"' if view_meta_as== "pprint"}}>Python pprint</option>
                        </select>
            </td>
        </tr>
        {% if allow_save_as_dataset %}
            <script type="text/javascript">
                function save_as_changed()
                {
                    var checkbox = document.getElementById("save_as_dataset");
                    document.getElementById("save_as_dataset_name").disabled = !checkbox.checked;
                    document.getElementById("save_as_dataset_namespace").disabled = !checkbox.checked;
                }
            </script>
            <tr>
                <th>{{"Run" if not show_files else "Re-run"}} and save results as dataset:</th>
                <td><input type=checkbox name="save_as_dataset" id="save_as_dataset" onchange="save_as_changed()"/>&nbsp;&nbsp;&nbsp;Namespace:&nbsp;<select name="save_as_dataset_namespace" id="save_as_dataset_namespace" disabled>
                                    <option value=""></option>
                                    {% for ns in namespaces %}
                                        <option value="{{ns.Name}}">{{ns.Name}}</option>
                                    {% endfor %}
                                </select>&nbsp;&nbsp;&nbsp;Name:&nbsp;<input type=text name="save_as_dataset_name" id="save_as_dataset_name" disabled/></td>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td></td>
            <td><input type="submit" name="action" value="run"/></td>
        </tr>
    </table>
</form>

{# 
#    settings for highlight.js 
#}

{% set highlight_language_class = "" %}
{% if view_meta_as == "pprint" %}
    {% set highlight_language_class = "language-python" %}
{% elif view_meta_as == "json" %}
    {% set highlight_language_class = "language-json" %}
{% endif %}

{% if show_datasets %}
    <div class=headline>Query results</div>
    <p>Runtime: {{"%.3f"|format(runtime)}} seconds<br/>
        Datasets: {{datasets|length}} (results in GUI are always limited to 1000 results)<br/>
        JSON:&nbsp;<a href="{{GLOBAL_AppTopPath}}/data/query?with_meta=yes&query={{url_query}}">with</a> 
        <a href="{{GLOBAL_AppTopPath}}/data/query?with_meta=no&query={{url_query}}">without</a> metadata
    </p>

    <h3>Datasets</h3>
    
    <table class="file_metadata">
        {% for d in datasets|sort(attribute="Name") %}
            <tr>
                <td class="filename"><a href="./dataset?namespace={{d.Namespace}}&name={{d.Name}}">{{d.Namespace}}:{{d.Name}}</a>&nbsp;<img class="copy_button" src="{{GLOBAL_AppTopPath}}/static/images/copy.png" onclick="copy(event)"/>
                </td>
            </tr>
            {% if d.Metadata %}
                {% if view_meta_as == "table" %}
                    {% for n in attr_names %}
                        {% if n in d.Metadata -%}
                            <tr>
                                <td class="attr_name">{{n}}</td>
                                <td class="attr_value">{{d.Metadata[n]|json}}</td>
                            </tr>
                        {%- endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="meta_whole" colspan=2>
                            <pre class="metadata {{highlight_language_class}}">
{{d.meta_view}}
                            </pre>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    
{% elif show_files %}
    <div class=headline>Query results</div>
    <p>Runtime: {{"%.3f"|format(runtime)}} seconds<br/>
        Files: {{files|length}} (results in GUI are always limited to 1000 results)<br/>
        JSON:&nbsp;<a href="{{GLOBAL_AppTopPath}}/data/query?with_meta=yes&query={{url_query}}">with</a> 
        <a href="{{GLOBAL_AppTopPath}}/data/query?with_meta=no&query={{url_query}}">without</a> metadata
    </p>

    {% if meta_stats %}
        <script type="text/javascript">
            var values_shown = {};
        </script>
    
        <h3><a href="javascript:toggle_meta_stats()" id="meta_stats_toggle" class="button">+</a>&nbsp;&nbsp;&nbsp;Metadata values distribution</h3>
        <table class="file_metadata" id="meta_stats_table" style="display:none; visibility:hidden">
            <tr>
                <th>Attribute</th><th>Values</th>
            </tr>
            {% for name, counts in meta_stats %}
                    {% set nvals = counts|length %}
                    <tr>
                        <td class="attr_name">{{name}}</td>
                        <td class="attr_value"><a href="javascript:toggle_values('{{name}}')" id="values_toggle_{{name}}" class="button">+</a>
                            <span id="value_count_{{name}}">{{nvals}} values</span>
                            <!-- <span id="value_table_{{name}}" style="display:none; visibility:hidden">
                                {% for v, c in counts %}
                                    {{v}}<span class="value_count">: {{c}}</span>
                                {% endfor %}
                            </span>
                            -->
                                <table id="value_table_{{name}}" style="display:none; visibility:hidden">
                                {% for v, c in counts %}
                                    {{ loop.cycle("<tr>", "", "", "", "") }}
                                        <td class="attr_value">{{v|json}}</td><td class="attr_count">({{c}})</td>
                                    {{ loop.cycle("", "", "", "", "</tr>") }}
                                    {% if loop.last %}
                                        {{ loop.cycle("</tr>", "</tr>", "</tr>", "</tr>", "") }}
                                    {% endif %}
                                {% endfor %}
                                </table>
                        </td>
                    </tr>
                    <script type="text/javascript">
                        values_shown["{{name}}"] = false;
                    </script>
            {% endfor %}
            <!-- 
            {# saved ---
            {% for name, counts in meta_stats %}
                {% for v, c in counts %}
                    <tr>
                        {% if loop.first %}<td  class="attr_name" rowspan="{{counts|length}}">{{name}}</td>{% endif %}
                        <td class="attr_value">{{v}}</td><td>{{c}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            --- saved #}
            -->
        </table>
        
        <script type="text/javascript">
            var meta_stats_shown=false;
            
            function toggle_meta_stats()
            {
                var t = document.getElementById("meta_stats_table");
                var b = document.getElementById("meta_stats_toggle");
                if (meta_stats_shown)
                {
                    t.style.visibility = "hidden";
                    t.style.display = "none";
                    b.innerHTML = "+";
                    meta_stats_shown=false;
                }
                else
                {
                    t.style.visibility = "visible";
                    t.style.display = "";
                    b.innerHTML = "-";
                    meta_stats_shown=true;
                }
            }

            function toggle_values(name)
            {
                var count_span = document.getElementById("value_count_"+name);
                var table_span = document.getElementById("value_table_"+name);
                var toggle = document.getElementById("values_toggle_"+name);

                if (values_shown[name])
                {
                    table_span.style.visibility = "hidden";
                    table_span.style.display = "none";
                    count_span.style.visibility = "visible";
                    count_span.style.display = "";
                    toggle.innerHTML = "+";
                    values_shown[name]=false;
                }
                else
                {
                    count_span.style.visibility = "hidden";
                    count_span.style.display = "none";
                    table_span.style.visibility = "visible";
                    table_span.style.display = "";
                    toggle.innerHTML = "-";
                    values_shown[name]=true;
                }
            }
        </script>
                
                    
        
    {% endif %}     {# meta_stats #}


    <h3>Files</h3>
    <table class="file_metadata">
        {% for f in files %}
            <tr>
                <td class="filename"><a href="./show_file?fid={{f.FID}}">{{f.Namespace}}:{{f.Name}}</a>&nbsp;<img class="copy_button" src="{{GLOBAL_AppTopPath}}/static/images/copy.png" onclick="copy(event)"/>
                </td>
                <td>
                     (&nbsp;fid = <span class=code>{{f.FID}}</span><img class="copy_button" src="{{GLOBAL_AppTopPath}}/static/images/copy.png" onclick="copy(event)"/>&nbsp;)</td>
            </tr>
            {% if f.Metadata %}
                {% if view_meta_as == "table" %}
                    {% for n in attr_names %}
                        {% if n in f.Metadata -%}
                            <tr>
                                <td class="attr_name">{{n}}</td>
                                <td class="attr_value">{{f.Metadata[n]|json}}</td>
                            </tr>
                        {%- endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="meta_whole" colspan=2>
                            <pre class="metadata {{highlight_language_class}}">
{{f.meta_view}}
                            </pre>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    
{% endif %}

    
{% if highlight_language_class %}
    <script>
        document.querySelectorAll('pre.metadata').forEach(el => {
          // then highlight each
          hljs.highlightElement(el);
        });
    </script>
{% endif %}
    

        

{% endblock %}



    {# 
    old ---------------------
    
    <table class="data">
        <tr>
            <th>Dataset</th>{% if attr_names %}<th>Metadata</th>{% endif %}
        </tr>
        {% for d in datasets|sort(attribute="Name") %}
            <tr>
                <td>{{d.Namespace}}:{{d.Name}}</a></td>
            </tr>
        {% endfor %}
    </table>
    
    ---------------------- old 
    #}
    

