{% extends "base.html" %}

{% block headline %}
	{% if create %}
		Create role
	{% elif edit %}
		Edit role {{role.Name}} {% if role.Description %}({{role.Description}}){% endif %}
    {% else %}
        Role {{role.Name}} {% if role.Description %}({{role.Description}}){% endif %}
	{% endif %}
{% endblock %}

{% block content %}

<form method=POST action="./save_role">

<input type="hidden" name="create" value="{{"yes" if create else "no"}}"/>

<table class="form">
	<tr>
		<th>Name</th>
		<td>
			{% if create %}
				<input type="text" name="name"/>
			{% else %}
				<input type="hidden" name="name" value="{{role.Name}}"/>
				{{role.Name}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>
			{% if create %}
				<input type="text"  size=80 name="description"/>
			{% elif edit %}
				<input type="text"  size=80 name="description" value="{{role.Description or ''}}"/>
            {% else %}
                {{role.Description}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Users</th>
		<td>
            {% for u in users %}<a href="./user?username={{u}}">{{u}}</a> {% endfor %}
		</td>
	</tr>
	{% if edit or create %}
		<tr><td></td><td><input type="submit" value="Save"/></td>
		</tr>
	{% endif %}
</table>

</form>

{% endblock %}
	
