{% extends "base.html" %}

{% block html_head %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/color-brewer.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
{% endblock %}

{% block headline %}Search Named Queries{% endblock %}

{% block content %}

<form method="GET" action="">
    <table class="form">
        <tr><td colspan=3>&nbsp;</td></tr>
        <tr>
            <th>Search:</th>
            <td>
                <textarea class="query_text" name="query" cols=80 rows=5 id="query_text">{{query or ""}}</textarea>
            </td>
            <td><p style="width:100%; text-align:right">
					<!-- <a href="https://metadatadb.readthedocs.io/en/latest/query_language.html" target="_new">MQL documentation</a> -->
					<a href="https://metacat.readthedocs.io/en/latest/mql.html#named-query-search" target="_new">documentation</a>
				</p>
            </td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="action" value="run"/></td>
        </tr>
    </table>
</form>

{# 
#    settings for highlight.js 
#}

{% set highlight_language_class = "language-json" %}

{% if results %}
    <div class=headline>Search results</div>

    <table class="file_metadata">
        {% for query in results %}
            <tr>
                <td class="filename"><a href="./named_query?name={{query.Namespace}}:{{query.Name}}">{{query.Namespace}}:{{query.Name}}</a>&nbsp;<img class="copy_button" src="{{GLOBAL_AppTopPath}}/static/images/copy.png" onclick="copy(event)"/>
                </td>
            </tr>
            {% if query.Metadata %}
                    <tr>
                        <td class="meta_whole" colspan=2>
                            <pre class="metadata {{highlight_language_class}}">
{{query.meta_view}}
                            </pre>
                        </td>
                    </tr>
            {% endif %}
        {% endfor %}
    </table>
    
{% endif %}

    
{% if highlight_language_class %}
    <script>
        document.querySelectorAll('pre.metadata').forEach(el => {
          // then highlight each
          hljs.highlightElement(el);
        });
    </script>
{% endif %}
    

        

{% endblock %}

