{% extends "base.html" %}

{% block html_head %}
    <script src="{{GLOBAL_AppTopPath}}/static/js/password_hash.js"></script>
{% endblock %}


{% block headline %}
	{% if mode=="create" %}
		Create User
    {% else %}
		User profile {{user.Username}} ({{user.Name}})
	{% endif %}
{% endblock %}

{% block content %}

<form method=POST action="./save_user" id="the_form">
    
<input type="hidden" name="new_user" value="{{'yes' if mode=='create' else 'no'}}"/>

<table class="form">
	<tr>
		<th>Username</th>
		<td>
			{% if mode=="create" %}
				<input type="text" name="username" id="username" size="40"/>
			{% else %}
				<input type="hidden" name="username" value="{{user.Username}}" id="username"/>
				{{user.Username}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Name</th>
		<td>
			{% if mode == "create" %}
				<input type="text" name="name" size="40"/>
			{% elif mode == "edit" %}
				<input type="text" name="name" value="{{user.Name}}" size="40"/>
            {% else %}
                {{user.Name}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Anonymized user id</th>
		<td>
			{% if mode == "create" %}
				<input type="text" name="auid" size="40"/>
			{% elif mode == "edit" %}
				<input type="text" name="auid" value="{{user.AUID}}" size="40" style="font-family: monospace"/>
            {% else %}
                {{user.AUID}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>EMail</th>
		<td>
			{% if mode == "create" %}
				<input type="text" name="email" size="40"/>
			{% elif mode == "edit" %}
				<input type="text" name="email" value="{{user.EMail}}" size="40"/>
            {% else %}
                {{user.EMail}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Flags</th>
		<td>
            {% if mode == "create" %}
			    <input type="text" name="flags"/>
		    {% elif mode == "edit" %}
                {% if admin %}
                    <input type="text" name="flags" value="{{user.Flags}}" size="10"/>
                {% else %}
                    {{user.Flags}}
                {% endif %}
            {% else %}
                {{user.Flags}}
		    {% endif %}
		</td>
	</tr>
    {% if mode == "create" or mode == "edit" %}
        <tr>
            <th>Password</th>
            <td><input type="hidden" id="hashed_password" name="hashed_password"/>
                <input type="password" id="password1" size="40"/>
            </td>
            <td id="error" class="error" style="visibility:hidden; display:none"></td>
        </tr>
        <tr>
            <th>Repeat password</th>
            <td><input type="password" id="password2" size="40"/></td>
        </tr>
    {% endif %}
	<tr>
		<th>Roles</th>
		<td>
            {% if mode == "create" %}
                    {% for r in all_roles %}
                        <input type="checkbox" name="member:{{r.Name}}"/>{{r.Name}}&nbsp;
						{%- if r.Description %}({{r.Description}}){% endif %}&nbsp;&nbsp;
                    {% endfor %}
            {% elif mode == "edit" %}
                {% if admin %}
                    {% for r in all_roles %}
                        <input type="checkbox" name="member:{{r.Name}}" 
                            {% if r.Name in role_set %}checked="checked"{% endif %}/>{{r.Name}}&nbsp;
								{%- if r.Description %}({{r.Description}}){% endif -%}
								&nbsp;&nbsp;
                    {% endfor %}
                {% else %}
                    {% for r in roles %}{{r.Name}}&nbsp;
								{%- if r.Description %}({{r.Description}}){% endif -%}
								&nbsp;&nbsp;{% endfor %}
                {% endif %}
            {% else %}
                {% for r in roles %}{{r.Name}}&nbsp;
								{%- if r.Description %}({{r.Description}}){% endif -%}
								&nbsp;&nbsp;{% endfor %}
            {% endif %}
		</td>
	</tr>


    {% if mode == "create" or mode == "edit" %}
        {% if ldap_url %}
            <tr>
                <th>Allow LDAP authentication</th>
                <td>
                        <input type="checkbox" name="allow_ldap" 
                            {%- if user.auth_method_enabled("ldap") %} checked="checked"{% endif %}
                            {%- if not admin %} disabled="disabled"{% endif -%}
                        />&nbsp;<span style="color:#AAA">server: {{ldap_url}}</span>
                </td>
            </tr>
        {% endif %}
		
		<tr>
			<th>X.509 DNs</th>
			<td>
				<table class="form">
					<tr>
						<td><input name="new_dn" type="text" size="120"/></td>
						<td><input type="submit" value="add" name="add_dn"/></td>
					</tr>
					{% for dn in dn_list %}
						<tr>
							<td>{{dn}}</td>
							<td><input type="submit" value="remove" name="remove_dn:{{dn}}"/></td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		
	{% endif %}
    
    
	{% if mode == "edit" or mode == "create" %}
		<tr><td></td><td><input type="submit" value="Save" name="save_user"
			onclick="return do_submit();"/></td>
		</tr>
        
        <script type="text/javascript">
            function show_error(error)
            {
                var p = document.getElementById("error")
                p.innerHTML = error;
                p.style.visibility = "visible";
                p.style.display = "";
            }

            function do_submit()
            {
                var password1_input = document.getElementById("password1");
                var password2_input = document.getElementById("password2");
                var password1 = password1_input.value;
                var password2 = password2_input.value;
                var username =  document.getElementById("username").value;
                if( password1 != password2 )
                {
                    show_error("Password mismatch. Please re-enter");
                    password1_input.value = "";
                    password2_input.value = "";
                    return false;
                }
                else
                {
                    var h = digest_hash("{{digest_realm}}", username, password1);
                    e = document.getElementById("hashed_password");
                    e.value = h;
                    //console.log("hashed:"+h);
                    return true;
                }
            }
        </script>
        
        
        
	{% endif %}
    
</table>
</form>

{% if its_me %}
    <form action="./generate_token" method="POST">
        <table class="form">
            <tr>
                <th>Generate token</th>
                <td>Expiration:&nbsp;<select name="token_expiration">
                            <option value="180">30 minutes</option>
                            <option value="{{6*3600}}">6 hours</option>
                            <option value="{{24*3600}}" selected="selected">1 day</option>
                            <option value="{{7*24*3600}}">1 week</option>
                            <option value="{{30*24*3600}}">30 days</option>
                            <option value="{{365*24*3600}}">365 days</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Generate" name="generate_token"/>
                </td>
            </tr>
        </table>
    </form>
{% endif %}

{% endblock %}
	
