{% extends "base.html" %}

{% block headline %}
	{% if create %}
		Create category
	{% elif edit %}
		Edit category {{category.Name}}
    {% else %}
        Category {{category.Name}}
	{% endif %}
{% endblock %}

{% block content %}

<form method=POST action="./save_category">

<input type="hidden" name="create" value="{{'yes' if create else 'no'}}"/>

<table class="form">
	<tr>
		<th>Name</th>
		<td>
			{% if create %}
				<input type="text" name="name"/>
			{% else %}
				<input type="hidden" name="name" value="{{category.Name}}"/>
				{{category.Name}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>
			{% if create %}
				<input type="text" name="description" size=80/>
			{% elif edit %}
				<input type="text" name="description"  size=80 value="{{category.Description or ''}}"/>
            {% else %}
                {{category.Description or ''}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Creator</th>
		<td>
			{% if create %}
				{{creator}}
            {% else %}
                {{category.Creator or ''}}
			{% endif %}
		</td>
	</tr>
    {% if not create %}
    	<tr>
    		<th>Created timestamp</th>
    		<td>{{category.CreatedTimestamp}}
    		</td>
    	</tr>
    {% endif %}
    <tr>
        <th>Restricted</th>
        <td>
            {% if edit %}
                <input type="checkbox" name="restricted" {% if category.Restricted %} checked="checked" {% endif %}/>
            {% else %}
                {{'yes' if category.Restricted else 'no'}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Owner user</th>
        </td>
            {% if edit }
                <select name="owner_user">
                    <option value="" {%- if not category.OwnerUser%} selected="selected"{% endif %}>
                    {% for u in users %}
                        <option value="{{u.Username}}" {%- if u.Username == category.OwnerUser %} selected="selected"{% endif %}>{{u.Username}}</option>
                    {% endfor %}
                </select>
            {% else %}
                {{ category.OwnerUser }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Owner role</th>
        </td>
            {% if edit }
                <select name="owner_role">
                    <option value="" {%- if not category.OwnerRole%} selected="selected"{% endif %}>
                    {% for r in roles %}
                        <option value="{{r.Name}}" {%- if r.Name == category.OwnerRole %} selected="selected"{% endif %}>{{r.Name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                {{ category.OwnerRole }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Parameter definitions</th>
        </td>
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Values</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="add">add</td>
                    <td><input type="text" name="add:name"/></td>
                    <td><select name="add:type">
                        {% for t in types %}
                            <option value="{{t}}">{{t}}</option>
                        {% endfor %}
                    </td>
                    <td><input type="text" name="add:min"/></td>
                    <td><input type="text" name="add:max"/></td>
                    <td><input type="text" name="add:values"/></td>
                </tr>
                {% for name, definition in definitions.items() %}
                    <tr>
                        <td><input type="checkbox" name="delete:{{name}}">delete</td>
                        <td>{{name}}</td>
                        <td><select name="type:{{name}}">
                            {% for t in types %}
                                <option value="{{t}}" {% if definition["type"] == t %}selected="selected"{% endif %}>{{t}}</option>
                            {% endfor %}
                        </td>
                        <td><input type="text" name="min:{{name}}" value="{{definition['min'] or ''}}"/></td>
                        <td><input type="text" name="max:{{name}}" value="{{definition['max'] or ''}}"/></td>
                        <td><input type="text" name="values:{{name}}" value="{{definition['values'] or ''}}"/></td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>                      
	{% if edit %}
        <tr><td></td><td><input type="submit" value="Save"/></td>
    {% endif %}
	</tr>
</table>

</form>


{% endblock %}
	
