{% extends "base.html" %}

{% block html_head %}
    <script src="{{GLOBAL_AppTopPath}}/static/js/password_hash.js"></script>
{% endblock %}

{% block headline %}Log in{% endblock %}

{% block content %}

{% if message %}<p style="color:red">{{message}}</p>{% endif %}

<form method=POST action="./do_login">
{% if redirect %}
    <input type="hidden" name="redirect" value="{{redirect}}"/>
{% endif %}

<table class="form" id="the_form">
	<tr>
		<th>Username</th>
		<td><input type="text" name="username" id="username"/></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><input type="password" name="password" id="password"/></td>
	</tr>
	<tr><td></td>
        <td>
            <input type="submit" value="Log in"/>       {#  onclick="do_submit()"/> #}
        </td>
    </tr>
</table>

</form>

<script type="text/javascript">
    function do_submit()
    {
        var pwd_input = document.getElementById("password");
        var password = pwd_input.value;
        var username =  document.getElementById("username").value;
        pwd_input.value = password_hash(username, password);
        document.getElementById("the_form").submit();
    }
</script>
{% endblock %}
	
