{% extends "base.html" %}

{% block headline %}
	{% if create %}
		Create namespace
	{% elif edit %}
		Edit namespace {{namespace.Name}}
    {% else %}
        Namespace {{namespace.Name}}
	{% endif %}
{% endblock %}

{% block content %}

<form method=POST action="./save_namespace">

<input type="hidden" name="create" value="{{'yes' if create else 'no'}}"/>

<table class="form">
	<tr>
		<th>Name</th>
		<td>
			{% if create %}
				<input type="text" name="name"/>
			{% else %}
				<input type="hidden" name="name" value="{{namespace.Name}}"/>
				{{namespace.Name}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>
			{% if create %}
				<input type="text" name="description" size=80/>
			{% elif edit %}
				<input type="text" name="description"  size=80 value="{{namespace.Description or ''}}"/>
            {% else %}
                {{namespace.Description or ''}}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Owner</th>
		<td>{% if create or edit and admin %}
                <select name="owner">
                    <option value="u:{{user.Username}}">{{user.Username}}</option>
                    <option disabled>-- roles --</option>
                    {% for r in roles %}
                        <!-- {{r}} -->
                        <option value="r:{{r.Name}}">{{r.Name}}</option>
                    {% endfor %}
                </select>
            {% else %}
                {% if namespace.OwnerUser %}user <a href="./user?username={{namespace.OwnerUser}}">{{namespace.OwnerUser}}</a>
                {% else %}role <a href="./role?name={{namespace.OwnerRole}}">{{namespace.OwnerRole}}</a>
                {% endif %}
            {% endif %}    
        </td>
	</tr>
    {% if not create %}
        <tr>
            <th>Files</th>
            <td>{{namespace.file_count()}}</td>
        </tr>
        <tr>
            <th>Datasets</th>
            <td>{{namespace.dataset_count()}}</td>
        </tr>
        <tr>
            <th>Queries</th>
            <td>{{namespace.query_count()}}</td>
        </tr>
    {% endif %}
	{% if edit or create %}
		<tr><td></td><td><input type="submit" value="Save"/></td>
		</tr>
	{% endif %}
</table>

</form>

{% endblock %}
	
