{% extends "base.html" %}

{% block headline %}Namespaces{% endblock %}

{% block content %}

<p><a href="./create_namespace">create</a>&nbsp;&nbsp;&nbsp;
    {%- if showing_all -%}
        <a href="./namespaces?all=no">my namespaces</a></p>
    {%- else -%}
        <a href="./namespaces?all=yes">all namespaces</a></p>
    {%- endif -%}
</p>

<table class="data">
	<tr>
		<th>Name</th>
		<th>Owner</th>
        <th>Description</th>
        <th>Files</th>
        <th>Datasets</th>
        <th>Queries</th>
	</tr>
	{% for ns in namespaces %}
		<tr>
				<td><a href="./namespace?name={{ns.Name}}">{{ns.Name}}</a></td>
				<td>{% if ns.OwnerUser %}
                        <a href="./user?username={{ns.OwnerUser}}">{{ns.OwnerUser}}</a>
                    {% else %}
                        <a href="./role?name={{ns.OwnerRole}}">{{ns.OwnerRole}}</a>
                    {% endif %}
                </td>
                <td>{{ns.Description or ""}}</td>
				<td id="file_count:{{ns.Name}}"></td>
				<td id="dataset_count:{{ns.Name}}">{{ns.dataset_count()}}</td>
				<td id="query_count:{{ns.Name}}">{{ns.query_count()}}</td>
	    </tr>
            <script>
		        var out = document.getElementById("file_count:{{ns.Name}}");
		        out.data_received = function(data, param) { this.innerHTML = "" + data.nfiles; };
                HTTPRequest("{{GLOBAL_AppTopPath}}/data/namespace_counts?namespace={{ns.Name}}", 
			        out, null, "json");
            </script>
	{% endfor %}
</table>


{% endblock %}
